<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>express</title>
</head>

<body>
    <nav>
        <h1 class='main-title'>PharmaMCQ</h1>
        <div class="branch">
            <p class="branch-title">Year 1 <img src="/svgs/chevron-down.svg" alt="cheveron down"></p>
            <div class="branch-drop">
                <p style="color: #b3b3b3;">empty for now.</p>
            </div>
        </div>
        <div class="branch">
            <p class="branch-title">Year 2 <img src="/svgs/chevron-down.svg" alt="cheveron down"></p>
            <div class="branch-drop">
                <p style="color: #b3b3b3;">empty for now.</p>
            </div>
        </div>
        <div class="branch">
            <p class="branch-title">Year 3 <img src="/svgs/chevron-down.svg" alt="cheveron down"></p>
            <div class="branch-drop">
                <p class="drop-item y3" href="bioII">Bio II</p>
                <p class="drop-item y3" href="pharmaceuticalMicro">Pharmaceutical Micro</p>
                <p class="drop-item y3" href="phyto">Phyto</p>
                <p class="drop-item y3" href="ceuticsIII">Ceutics III</p>
                <p class="drop-item y3" href="medicinalChemI">Medicinal Chem. I</p>
                <p class="drop-item y3" href="pharmaI">Pharma I</p>
                <p class="drop-item y3" href="para">Para</p>
                <p class="drop-item y3" href="kinetics">Kinetics</p>
                <p class="drop-item y3" href="forensic">Forensic</p>
                <p class="drop-item y3" href="ceuticsIV">Ceutics IV</p>
                <p class="drop-item y3" href="pharmaII">Pharma II</p>
                <p class="drop-item y3" href="medicinalChemII">Medicinal Chem. II</p>
            </div>
        </div>
    </nav>