<%- include('./partials/header.ejs') %>
    <div class="questions">


        <h1>
            <%= title ||"404, This page doesn't exist"%>
        </h1>

        <div class="question-rows">
            <div class="question-row" id="1">1</div>
            <div class="question-row" id="2">2</div>
            <div class="question-row" id="3">3</div>
            <div class="question-row" id="4">4</div>
            <div class="question-row" id="5">5</div>
            <div class="question-row" id="6">6</div>
            <div class="question-row" id="7">7</div>
            <div class="question-row" id="8">8</div>
        </div>
        <div class="question-container">
            <h1>Q<span class="question-num">1</span>:</h1>
            <p class="question">ou're right! The :checked + label selector doesn't work in this case because the is
                inside the. The correct approach is to use a sibling selector. Here’s the fixed version:</p>

            <form action="/" class="form">
                <label class="radio-label"><input type="radio" name="option" value="a"> Option 1</label>
                <label class="radio-label"><input type="radio" name="option" value="b"> Option 2</label>
                <label class="radio-label"><input type="radio" name="option" value="c"> Option 3</label>
                <label class="radio-label"><input type="radio" name="option" value="d"> Option 4</label>
                <input type="text" name="answer" id="answer" value="c" hidden>
                <button type="submit">Submit</button>
            </form>
            <div>
                <p>explaination:</p>
                <p class="explaination hidden">Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Eos eius quibusdam animi mollitia eligendi, et
                    tenetur repudiandae accusantium, facere architecto non magnam vitae dicta aperiam a exercitationem
                    aut dignissimos soluta.</p>
            </div>
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>