body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.admin-login-panel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 5px 40px;
    background-color: #f3f3f350;
    width: 70%;
    height: auto;
}

input[type=text],
select,
textarea {
    border: none;
    height: 30px;
    background-color: #C7D9DD;
    width: 190px;
    border-radius: 6 15px 15px 15px;
    outline: 1px solid gray;
    box-shadow: 1px 5px 13px gray;
    box-sizing: border-box;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.admin-submit {
    width: 90px;
    height: 35px;
    border-radius: 0 5px;
    border: 1px solid gray;
    box-shadow: 1px 5px 13px gray;
    background-color: #f3f3f320;
    color: white;

}

.question-panel {
    align-items: start;
    justify-content: flex-start;
    padding: 2rem 1rem;
    /* margin-top: 3rem; */
    box-shadow: 0px 0px 7px black;
}

.selection {
    height: 30px;
    /* min-width: 200px; */
    width: max-content;
    border-radius: 0px 10px 10px;
    font-size: 1.3rem;
}

#subject-selection:hover {
    outline: none;
    border: none;
    border-radius: 0;
}

#year-selection {
    width: 60px;
    text-align: center;
}

option {
    font-size: 1.3rem;
}

.question-label {
    width: 100%;
}

.question {
    width: 80%;
    border-radius: 5px;
    padding: 5px 15px;
    height: 100px;
    overflow-y: auto;
    resize: none;
}

input[type=radio] {
    display: none;

}

button[type=submit] {
    background-color: rgb(0, 212, 0);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

button[type=submit]:hover {
    background-color: rgb(0, 125, 0);
}

label {
    font-size: 1.3rem;
}

form {
    box-shadow: 1px 10px 13px gray;
    border-radius: 30px;
    padding: 50px 60px;
    transition: all 1s;
}

.form-input {
    height: 30px;
    border-radius: 10px;
    /* width: 190px; */
    background-color: #c7d9dd;
    border: 1px solid gray;
    padding: 0 1rem;
    box-shadow: 1px 5px 13px gray;
}

.user-login-submit {
    background-color: #c7d9dd;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 5px 15px;
}

.form-input:focus {
    outline: none;
    border: 1px solid gray;
}

.user-login-submit:hover {
    background-color: #b6c8cc;
}

.label-radio {
    display: inline;
    background-color: #3b3b3b;
    user-select: none;
    color: white;

    padding: 8px 25px;
    margin: 0px 0px;
}

.radio-flex {
    width: 100%;
}

.choice {
    border-radius: 0px 10px 10px;
}

.radio-group {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1px;
    justify-content: center;
}

#radioA:checked+label[for=radioA] {
    background-color: #BCCCDC;
    color: black;
}

#radioB:checked+label[for=radioB] {
    background-color: #BCCCDC;
    color: black;
}

#radioC:checked+label[for=radioC] {
    background-color: #BCCCDC;
    color: black;
}

#radioD:checked+label[for=radioD] {
    background-color: #BCCCDC;
    color: black;
}

.tip-label {
    width: 100%;
}

.tip {
    width: 80%;
    border-radius: 5px;
    padding: 5px 15px;
    height: 100px;
    overflow-y: auto;
    resize: none;
}

.submit-question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    /* border: 1px dotted white; */
    border-bottom: 3px solid white;
    animation: rotation 1s linear infinite forwards;
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.switch-btns {
    display: flex;
    justify-content: center;
}

.switch-btns button {
    width: fit-content;
    padding: 3px 10px;
    height: 30px;
    background-color: #dddddd;
    font-size: 1.7rem;
    border: 1px solid gray;
    border-bottom: none;
    margin: 0;
}

.selected-btn {
    background-color: #fff !important;
    z-index: 100;
}

.hidden {
    display: none;
}