* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
    /* Remove the blue highlight */
    touch-action: manipulation;
    user-select: none;
}

input,
textarea {
    user-select: all;
}

html {
    background: linear-gradient(to right bottom, #b3b3b3, white);
}

body {

    min-height: 100vh;
    /* margin-bottom: 50px; */
    overflow-x: hidden;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 15px;
}

.main-title {
    padding-right: 15px;
    border-right: 2px solid #3b3b3b;
    margin-right: 15px;
    cursor: pointer;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.branch-container {
    display: flex;
    justify-self: end;
    user-select: none;
}

.branch {
    padding: 0 15px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    user-select: none;

}

.branch:hover {
    background-color: #4e4d4d;
}

.branch-drop {
    display: none;
    z-index: 10;
    background-color: #3b3b3b;
    font-size: 1.7rem;
    padding: 3px 25px;
    width: 300px;
    right: 0;
    top: 30px;
    border-radius: 15px 0 15px 15px;
}

.nav-m-btn {
    display: none;
}

@media (min-width: 650px) {
    .branch:hover .branch-drop {
        display: block;
        position: absolute;
    }
}

.drop-item {
    padding: 4px 2px;
    color: #b3b3b3;
    position: relative;
    left: 0;
    transition: all 0.3s;
}

.drop-item:hover {
    /* border-left: 1px solid black; */
    color: #ac4242;
    scale: 1.1;
    left: 25px;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.center-container {
    /* border: 1px solid black; */
    text-align: center;
    width: 500px;
}

.center-container h1 {
    padding-bottom: 50px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-rows {
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 380px;
    height: 35px;
    background-color: #4e4d4d;
    white-space: nowrap;
    scrollbar-color: #000000 #930f0f00;
    border-radius: 3px;
    /* gap: 10px; */
}

.question-row {
    padding: 0 25px;
    border: none;
    border-right: 1px solid #3b3b3b;
    border-left: 1px solid #3b3b3b;
    cursor: pointer;
    color: #b3b3b3;
    user-select: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-row:hover {
    background-color: gray;
}

.question-container {
    background-color: #a4a4a4;
    width: 380px;
    user-select: none;
    border-radius: 30px;
    /* min-height: 800px; */
    padding: 50px 30px;
    position: absolute;
    /* top: 60px; */
    left: 0px;
}

.question-slide {
    position: relative;
    width: 440px;
    height: 600px;
    overflow: hidden;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    width: 15rem;
}

.btns-container button {
    background-color: green;
    border: 1px solid gray;
    height: 35px;
    width: 110px;
    /* padding: 0px 5px; */
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;

}

.radio-label {
    display: block;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    max-width: 80%;
}



/* Style when selected */



.question {
    padding: 15px 7px;
}



.sub-btn {
    background-color: green;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    margin: 15px 0px;
    font-size: 1.2rem;
}

.sub-btn:hover {
    background-color: #009900;
}

.logout-btn {
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 10px 20px;
    background-color: #d9d9d9;
    /* color: #f0f0f0; */
    border-radius: 5px;
    font-size: 1rem;
    /* border: none; */
    margin-right: auto;
}

input[type=radio]:checked+label {
    background-color: #eee;
}

input[type=radio] {
    display: none;
}

.logout-form {
    margin-left: auto;
}

.logout-btn:hover {
    background-color: #ff0000;
    color: white;
}


.quick-message {
    opacity: 0;
}

#year-selection:hover~.quick-message {
    opacity: 1;
}

/* Hide default radio button */
.nav-m-btn {
    display: none;
    width: 60px;
    background-color: transparent;
    border: 1px solid #000;
}

.nav-m-btn:hover {
    background-color: #3b3b3b;
}

@media (max-width: 650px) {
    .nav-m-btn {
        display: block;
    }

    .logout-btn {
        font-size: 0.7rem;
    }

    .branch-drop {
        display: block;
        position: static;
        right: 0;
        top: 0;
        border-radius: 15px 0px 15px 15px;
        height: 0%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 15px;
        width: 350px;
        transition: all 1s;
        background-color: transparent;
    }

    .branch:hover .branch-drop {
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        /* Remove the blue highlight */
    }

    .branch {
        background-color: #3b3b3b;
        border-radius: 0;
        width: 350px;
        height: 2rem;
        color: #b3b3b3;
        font-size: 1.7rem;
    }

    .branch:hover {
        height: fit-content;
    }

    .branch-container {
        background-color: #3b3b3b;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        width: 350px;
        height: 100vh;
        z-index: 10;
        padding-top: 1rem;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chev-down {
        filter: invert(1);
    }

    .shrink {
        width: 0px;
    }
}

.hidden {
    display: none;
}